* {
	margin:0;
	padding:0;
	list-style:none;
}
@font-face {
	font-family:'BMDOHYEON';
	src:url('../font/BMDOHYEON.ttf') format('truetype');
}
h2 {
	font-family:'BMDOHYEON';
	margin: 100px;
	font-size: 60px;
	text-shadow: 10px 10px 0 #ff0000, 20px 20px 0 #0000ff ,-10px 20px 10px #ffff00;
}