* {
	margin: 0;
	padding: 0;
	list-style: none;
}
#wrapper > article {
	background-color: #00F2E2;
}
#wrapper > article > article {
	width: 1280px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}
#wrapper > article article figure {
	width: 20px;
	height: 20px;
	float: right;
	line-height: 60px;
}
#wrapper > article article figure img {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#wrapper > article> article span {
	color: #fff;
	display: inline-block;
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
}
#wrapper > article> article span a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
#good {
	background: url(../img/main.jpg) no-repeat;
	background-size: 100%;
}
#headerInner {
	width: 1280px;
	height: 150px;
	border-bottom: 1px solid #fff;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 10px;
}
#headerInner h1 {
	width: 250px;
	height: 100px;
	float: left;
	margin-top: 50px;
}
#headerInner img {
	width: 250px;
}
#headerInner > ul {
	text-align: right;
}
#headerInner > ul li {
	display: inline-block;
	width: 100px;
	text-align: center;
	line-height: 15px;
}
#headerInner > ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
#headerInner > ul li:first-child {
	border-right: 1px solid #fff;
}
#headerInner > ul li:nth-child(3),#headerInner > ul li:last-child {
	width: 50px;
	height: 30px;
}
#headerInner > ul li:nth-child(3) img,#headerInner > ul li:last-child img{
	width: 15px;
	display: block;
	margin: 15px auto;
	cursor: pointer;
}
nav ul {
	text-align: right;
}
nav ul li {
	display: inline-block;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 40px 10px 0 0;
}
nav ul li a span{
	display: block;
	width: 0px;
	height: 2px;
	transition-property: width;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}
nav ul li:first-of-type:hover a span {
	width: 74px;
	background-color: #fff;
}
nav ul li:nth-of-type(2):hover a span {
	width: 54px;
	background-color: #fff;
}
nav ul li:nth-of-type(3):hover a span {
	width: 82px;
	background-color: #fff;
}
nav ul li a,nav ul li:last-child a {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	display: inline-block;
}
nav ul li:last-child {
	background-color: #fff;
	cursor: pointer;
	-webkit-transition-property: background-color,color;
	-ms-transition-property: background-color,color;
	transition-property: background-color,color;
	-webkit-transition-duration: 0.5s,0.5s;
	-ms-transition-duration: 0.5s,0.5s;
	transition-duration: 0.5s,0.5s;
	-webkit-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}
nav ul li:last-child a {
	color: #00E8F4;
}
nav ul li:last-child:hover {
	background-color: #00E8F4;
}
nav ul li:last-child:hover a {
	color: #fff;
}
#good > section > article {
	width: 1280px;
	height: 540px;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
}
#good > section > article > article {
	width: 700px;
	height: 400px;
}
#good > section > article > article span {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
#good > section > article > article span span {
	font-family: 'Playfair Display', serif;
	font-style: italic;
}
#good > section > article > article h2 {
	color: #fff;
	font-size: 80px;
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 20px #555;
}
#good > section > article > article div {
	width: 130px;
	height: 35px;
	border-bottom: 1px solid #00E8F4;
	box-sizing: border-box;
	text-align: center;
	margin-top: 50px;
	-webkit-transition-property: color;
	-ms-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}
#good > section > article > article div:hover {
	border-bottom:1px solid #fff;
}
#good > section > article > article div:hover a {
	color: #fff;
}
#good > section > article > article div a {
	color: #00E8F4;
	text-decoration: none;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
}
#good > section > article > article article {
	margin-top: 50px;
}
#good > section > article > article article p:first-child{
	color: #fff;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}
#good > section > article > article article p:last-child {
	color: #bbb;
	font-family: 'Roboto', sans-serif;
}
#good > section > article a article {
	width: 320px;
	height: 75px;
	background-color: #00E8F4;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-top: 25px;
}
#good > section > article a article:hover {
	background-color: #fff;
}
#good > section > article a article figure:first-child img {
	width: 40px;
	margin:0 20px 0 25px;
	float: left;
}
#good > section > article a article figure:nth-child(2) img {
	width: 40px;
	margin-top: 20px;
	float: left;
}
#good > section > article a article div {
	width: 150px;
	height: 50px;
	border-right: 1px solid #fff;
	float: left;
}
#good > section > article a article div span {
	color: #fff;
	line-height: 50px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
#good > section > article a article figure:last-child {
	width: 30px;
	float: right;
	margin: 10px 20px 0 0;
}
#good > section > article a article figure:last-child img {
	width: 30px;
}
#wrapper > section:first-of-type {
	position: relative;
}
#wrapper > section:first-of-type > article:first-child {
	width: 700px;
	height: 300px;
	background: url(../img/bg.jpg) no-repeat;
	background-size: 700px 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
#containerInner {
	width: 1280px;
	height: 1300px;
	margin: 0 auto;
}
#containerInner > article:first-child {
	width: 640px;
	height: 550px;
	background-color: #fff;
	padding-top: 50px;
	float: left;
}
#containerInner > article:first-child article {
	width: 600px;
	height: 100px;
}
#containerInner > article:first-child article p:first-of-type {
	letter-spacing: 5px;
	color: #777;
	font-family: 'Roboto', sans-serif;
	margin-left: 30px;
}
#containerInner > article:first-child article h3 {
	font-size: 50px;
	word-break: keep-all;
	line-height: 50px;
	margin: 50px 0 0 30px;
	font-family: 'Roboto', sans-serif;
}
#containerInner > article:first-child article p:last-of-type {
	color: #999;
	word-break: keep-all;
	margin: 50px 0 0 30px;
	font-family: 'Roboto', sans-serif;
}
#containerInner > article:first-child article 
article {
	width: 500px;
	height: 20px;
}
#containerInner > article:first-child article article figure {
	width: 15px;
	float: left;
	margin: 0 20px 0 30px;
}
#containerInner > article:first-child article article figure img {
	width: 15px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	cursor: pointer;
	-webkit-transition-property: transform;
	-ms-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}
#containerInner > article:first-child article 
article a {
	color: #00E8F4;
	font-size: 20px;
	line-height: 20px;
	margin-top: 50px;
	display: block;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
#containerInner > article:first-child article 
article:hover figure img {
	-webkit-transform: translateX(15px) rotate(180deg);
	-ms-transform: translateX(15px) rotate(180deg);
	transform: translateX(15px) rotate(180deg);
}
#containerInner > article:nth-child(2) {
	width: 640px;
	height: 700px;
	background: url(../img/contbg.jpg) no-repeat;
	background-size: 640px auto;
	float: right;
	position: relative;
}
#containerInner > article:nth-child(2) > article:first-child {
	width: 250px;
	height: 50px;
	position: absolute;
	left: -60px;
	top: 200px;
}
#containerInner > article:nth-child(2) > article:first-child a {
	text-decoration: none;
}
#containerInner > article:nth-child(2) > article:first-child a article {
	width: 90px;
	border: 1px solid #00E8F4;
	float: left;
	margin: 24px 10px 0 0;
}
#containerInner > article:nth-child(2) > article:first-child a span {
	color: #00E8F4;
	line-height: 50px;
	font-family: 'Roboto', sans-serif;
}
#containerInner > article:nth-child(2) > article:last-child p:first-child {
	color: #fff;
	margin: 30px;
	font-family: 'Roboto', sans-serif;
}
#containerInner > article:nth-child(2) > article:last-child p:last-child {
	color: #fff;
	font-size: 40px;
	word-break: keep-all;
	margin-left: 30px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
}
#containerInner > article:nth-child(3) {
	width: 640px;
	height: 700px;
	background: url(../img/img.jpg) no-repeat;
	background-size: 1280px 100%;
	float: left;
	position: relative;
}
#containerInner > article:nth-child(3) > article:first-child {
	position: absolute;
	left: -25px;
	bottom: 160px;
	cursor: pointer;
}
#containerInner > article:nth-child(3) > article:first-child figure img,#containerInner > article:nth-child(3) > article:last-child figure img {
	width: 50px;
}
#containerInner > article:nth-child(3) > article:last-child {
	position: absolute;
	left: -25px;
	bottom: 90px;
	cursor: pointer;
}
#containerInner > article:last-child {
	width: 640px;
	height: 550px;
	background-color: #000069;
	padding-top: 50px;
	float: right;
}
#containerInner > article:last-child article {
	width: 400px;
	height: 100px;
}
#containerInner > article:last-child article p:first-child {
	margin-left: 50px;
	color: #fff;
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
}
#containerInner > article:last-child article h2 {
	color: #fff;
	margin: 50px;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}
#containerInner > article:last-child article p:last-of-type {
	color: #ddd;
	margin: 50px;
	font-family: 'Roboto', sans-serif;
}
#containerInner > article:last-child article div {
	width: 130px;
	height: 35px;
	border-bottom: 1px solid #00E8F4;
	box-sizing: border-box;
	text-align: center;
	margin: 50px;
	-webkit-transition-property: color;
	-ms-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}
#containerInner > article:last-child article div:hover {
	border-bottom: 1px solid #fff;
}
#containerInner > article:last-child article div a {
	color: #00E8F4;
	text-decoration: none;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
}
#containerInner > article:last-child article div:hover a {
	color: #fff;
}
#wrapper > section:nth-of-type(2) > section:first-child {
	background: url(../img/img_obj.jpg) no-repeat;
	background-size: 100% 100%;
	padding-top: 100px;
}
#wrapper > section:nth-of-type(2) > section:first-child > article {
	width: 1280px;
	height: 800px;
	margin: 0 auto;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article {
	width: 900px;
	height: 250px;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article p:first-of-type {
	letter-spacing: 3px;
	color: #999;
	margin-left: 30px;
	font-family: 'Roboto', sans-serif;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article h3 {
	font-size: 40px;
	margin: 30px;
	font-family: 'Roboto', sans-serif;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article p:last-of-type {
	color: #bbb;
	margin: 30px;
	font-family: 'Roboto', sans-serif;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article article {
	width: 500px;
	height: 20px;
	margin: 0 0 30px 30px;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article article:first-of-type figure,#wrapper > section:nth-of-type(2) > section:first-child > article article article:nth-of-type(2) figure,#wrapper > section:nth-of-type(2) > section:first-child > article article article:last-of-type figure {
	width: 15px;
	float: left;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article article:first-of-type figure img,#wrapper > section:nth-of-type(2) > section:first-child > article article article:nth-of-type(2) figure img,#wrapper > section:nth-of-type(2) > section:first-child > article article article:last-of-type figure img {
	width: 15px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	cursor: pointer;
	-webkit-transition-property: transform;
	-ms-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article article:first-of-type a,#wrapper > section:nth-of-type(2) > section:first-child > article article article:nth-of-type(2) a,#wrapper > section:nth-of-type(2) > section:first-child > article article article:last-of-type a {
	color: #00E8F4;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 30px 40px;
	display: block;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
#wrapper > section:nth-of-type(2) > section:first-child > article article article:first-of-type:hover figure img,#wrapper > section:nth-of-type(2) > section:first-child > article article article:nth-of-type(2):hover figure img,#wrapper > section:nth-of-type(2) > section:first-child > article article article:last-of-type:hover figure img {
	-webkit-transform: translateX(15px) rotate(180deg);
	-ms-transform: translateX(15px) rotate(180deg);
	transform: translateX(15px) rotate(180deg);
}
#wrapper > section:nth-of-type(2) > section:last-of-type {
	background: url(../img/bg_test_shell.jpg) no-repeat;
	background-size: cover;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article {
	width: 1280px;
	height: 750px;
	margin: 0 auto;
	position: relative;
	padding-top: 250px;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:first-child {
	width: 1280px;
	height: 270px;
	background-color: #3CC2FF;
	position: absolute;
	left: 0;
	top: -200px;
	padding-top: 30px;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:first-child figure {
	width: 50px;
	margin: 0 auto;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:first-child figure img{
	width: 50px;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:first-child div:first-of-type {
	width: 1000px;
	height: 30px;
	margin: 20px auto;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:first-child blockquote {
	color: #fff;
	font-size: 28px;
	font-family: 'Playfair Display', serif;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:first-child > div:last-of-type {
	width: 200px;
	margin: 75px auto;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:first-child > div:last-of-type p {
	color: #00008C;
	font-family: 'Roboto', sans-serif;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:first-child > div:last-of-type p span {
	color: #00E8F4;
	font-style: italic;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:last-child {
	width: 1000px;
	height: 250px;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:last-child p:first-of-type {
	color: #777;
	letter-spacing: 3px;
	margin: 30px;
	font-family: 'Roboto', sans-serif;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:last-child h2 {
	color: #fff;
	font-size: 40px;
	margin: 30px;
	line-height: 45px;
	font-family: 'Roboto', sans-serif;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:last-child p:last-of-type {
	margin: 30px;
	color: #999;
	font-family: 'Roboto', sans-serif;
}
#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:last-child article:first-of-type,#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:last-child article:nth-of-type(2),#wrapper > section:nth-of-type(2) > section:last-of-type > article > article:last-child article:last-of-type {
	width: 500px;
	height: 20px;
	margin: 0 0 30px 30px;
}
#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child article:first-of-type figure,#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child article:nth-of-type(2) figure,#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child article:last-of-type figure {
	width: 15px;
	float: left;
}
#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child article:first-of-type figure img,#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child article:nth-of-type(2) figure img,#wrapper > section:nth-of-type(2) > section:last-child > article > article article:last-of-type figure img {
	width: 15px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	cursor: pointer;
	-webkit-transition-property: transform;
	-ms-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}
#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child article:first-of-type:hover figure img,#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child article:nth-of-type(2):hover figure img,#wrapper > section:nth-of-type(2) > section:last-child > article > article article:last-of-type:hover figure img {
	-webkit-transform: translateX(15px) rotate(180deg);
	-ms-transform: translateX(15px) rotate(180deg);
	transform: translateX(15px) rotate(180deg);
}
#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child a:first-of-type,#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child a:nth-of-type(2),#wrapper > section:nth-of-type(2) > section:last-child > article > article:last-child a:last-of-type {
	color: #00E8F4;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0px 30px 30px;
	display: block;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
#footerGood {
	background-color: #001C54;
}
footer > article {
	width: 1280px;
	height: 150px;
	margin: 0 auto;
	padding-top: 50px;
}
footer > article > article {
	width: 400px;
	height: 80px;
	background-color: #00008C;
	float: left;
	text-align: right;
}
footer > article > article > p {
	display: inline-block;
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	line-height: 80px;
	font-size: 20px;
}
footer > article > article article {
	width: 100px;
	height: 60px;
	background-color: #3CC2FF;
	margin: 10px 10px 10px 20px;
	display: inline-block;
	text-align: center;
	-webkit-transition-property: background-color,color;
	-ms-transition-property: background-color,color;
	transition-property: background-color,color;
	-webkit-transition-duration: 0.3s,0.3s;
	-ms-transition-duration: 0.3s,0.3s;
	transition-duration: 0.3s,0.3s;
	-webkit-transition-timing-function: ease,ease;
	-ms-transition-timing-function: ease,ease;
	transition-timing-function: ease,ease;
}
footer > article > article article:hover,footer > article > article article:hover p {
	background-color: #fff;
	color: #3CC2FF;
}
footer > article > article article p {
	font-family: 'Roboto', sans-serif;
	line-height: 60px;
	color: #fff;
}
footer > article > ul {
	text-align: right;
}
footer > article > ul li {
	display: inline-block;
}
footer > article > ul li article {
	width: 80px;
	height: 55px;
	background-color: #00008C;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	padding-top: 25px;
	margin-right: 10px;
	-webkit-transition-property: background-color;
	-ms-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}
footer > article > ul li article:first-of-type figure {
	width: 30px;
	margin: 0 auto;
}
footer > article > ul li article:first-of-type figure img,footer > article > ul li article:nth-of-type(2) figure img,footer > article > ul li article:nth-of-type(3) figure img,footer > article > ul li article:last-of-type figure img {
	width: 30px;
}
footer > article > ul li:first-of-type:hover article {
	background-color: #2BA9DB;
}
footer > article > ul li:nth-of-type(2):hover article{
	background-color: #5491CE;
}
footer > article > ul li:nth-of-type(3):hover article{
	background-color: #00C5F7;
}
footer > article > ul li:last-of-type:hover article {
	background-color: #F73900;
}
#footerGood > section:first-of-type > article {
	width: 1280px;
	height: 500px;
	margin: 0 auto;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
}
#footerGood > section:first-of-type > article ul {
	float: left;
	width: 320px;
	margin-top: 50px;
}
#footerGood > section:first-of-type > article ul li:first-of-type {
	width: 180px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 50px;
}
#footerGood > section:first-of-type > article ul li:first-of-type p {
	color: #fff;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
}
#footerGood > section:first-of-type > article ul:first-of-type li:nth-of-type(2) {
	width: 300px;
	margin-bottom: 30px;
}
#footerGood > section:first-of-type > article ul li:nth-of-type(2) p {
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
#footerGood > section:first-of-type > article ul:first-of-type li:nth-of-type(3) figure,#footerGood > section:first-of-type > article ul:first-of-type li:last-of-type figure {
	width: 15px;
	float: left;
}
#footerGood > section:first-of-type > article ul:first-of-type li:nth-of-type(3) figure img,#footerGood > section:first-of-type > article ul:first-of-type li:last-of-type figure img {
	width: 15px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	cursor: pointer;
	-webkit-transition-property: transform;
	-ms-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}
#footerGood > section:first-of-type > article ul:first-of-type li:nth-of-type(3):hover figure img,#footerGood > section:first-of-type > article ul:first-of-type li:last-of-type:hover figure img {
	-webkit-transform: translateX(15px) rotate(180deg);
	-ms-transform: translateX(15px) rotate(180deg);
	transform: translateX(15px) rotate(180deg);
}
#footerGood > section:first-of-type > article ul:first-of-type li:nth-of-type(3) a,#footerGood > section:first-of-type > article ul:first-of-type li:last-of-type a {
	color: #00E8F4;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0px 30px 30px;
	display: block;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(2),#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(3),#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(4),#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(5),#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(6),#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(2),#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(3),#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(4),#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(5),#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(6) {
	margin-bottom: 20px;
}
#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(2) a,#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(3) a,#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(4) a,#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(5) a,#footerGood > section:first-of-type > article ul:nth-of-type(2) li:nth-of-type(6) a,#footerGood > section:first-of-type > article ul:nth-of-type(2) li:last-of-type a,#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(2) a,#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(3) a,#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(4) a,#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(5) a,#footerGood > section:first-of-type > article ul:nth-of-type(3) li:nth-of-type(6) a,#footerGood > section:first-of-type > article ul:nth-of-type(3) li:last-of-type a {
	color: #777;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
#footerGood > section:first-of-type > article ul:last-of-type li:nth-of-type(2) p,#footerGood > section:first-of-type > article ul:last-of-type li:nth-of-type(3) p {
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
#footerGood > section:first-of-type > article ul:last-of-type li:nth-of-type(3) {
	margin-top: 50px;
}
#footerGood > section:first-of-type > article ul:last-of-type li:nth-of-type(4) {
	margin-top: 20px;
}
#footerGood > section:first-of-type > article ul:last-of-type li:nth-of-type(4) p {
	color: #777;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
#footerGood > section:first-of-type > article ul:last-of-type li:last-of-type {
	margin-top: 30px;
}
#footerGood > section:first-of-type > article ul:last-of-type li:last-of-type div {
	width: 115px;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #00E8F4;
	box-sizing: border-box;
}
#footerGood > section:first-of-type > article ul:last-of-type li:last-of-type div a {
	color: #00E8F4;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
#footerGood > section:last-of-type > article {
	width: 1280px;
	height: 120px;
	margin: 0 auto;
	padding-top: 30px;
}
#footerGood > section:last-of-type > article article {
	width: 450px;
	height: 30px;
	float: left;
	margin-top: 20px;
}
#footerGood > section:last-of-type > article article p {
	color: #777;
	font-size: 12px;
}
#footerGood > section:last-of-type > article > ul {
	text-align: right;
}
#footerGood > section:last-of-type > article ul li {
	text-align: center;
	width: 140px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	margin: 20px 0 0 30px;
	cursor: pointer;
}
#footerGood > section:last-of-type > article ul li a {
	color: #fff;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
#footerGood > section:last-of-type > article ul li:first-of-type figure,#footerGood > section:last-of-type > article ul li:nth-of-type(2) figure,#footerGood > section:last-of-type > article ul li:last-of-type figure {
	width: 8px;
	float: right;
	margin: 0 10px 0 10px;
}
#footerGood > section:last-of-type > article ul li:first-of-type figure img,#footerGood > section:last-of-type > article ul li:nth-of-type(2) figure img,#footerGood > section:last-of-type > article ul li:last-of-type figure img {
	width: 8px;
}