* {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	font-size: 150px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lexend Peta', sans-serif;
}
body > p:first-child {
	letter-spacing: -25px;
	color: #ffffff;
	text-shadow: -15px 5px 20px #ff0000;
}
body > p:nth-child(2) {
	background-color: #000000;
	color: #ffffff;
	text-shadow: 2px 2px 0 #0000ff, 4px 4px 0 #000000, 6px 6px 0 #0000ff, 8px 8px 0 #000000, 10px 10px 0 #0000ff, 12px 12px 0 #000000, 14px 14px 0 #0000ff;
}
body > p:nth-child(3) {
	text-shadow: -5px 0 0 rgba(255,0,0,0.7), 5px 0 0 rgba(0,0,255,0.7);
}
body > p:nth-child(4){
	background-color: #0000ff;
	text-shadow: -2px 2px 0 #0000ff, -4px 4px 0 #00ff00, -6px 6px 0 #0000ff, -8px 8px 0 #00ff00;
}
body > p:last-child {
	background-color: #dddddd;
	color: #ffffff;
	text-shadow: 4px 4px 0 #dddddd, 12px 12px 0 rgba(0,0,0,0.2);
}