* {
	margin:0; padding:0;
}
ul,ol,li {
	list-style:none;
}
#wrapper {}
#header {
	height:100px;
	background-color:#000;
}
#header div {
	width:1300px;
	height:100px;
	margin:0 auto;
	background-color:skyblue;
	padding-top:25px;
}
#header .logo {
	float: left;
}
header ul {
	text-align: right;
}
.infoLink li  {
	text-align: center;
	display: inline-block;
}
.infoLink li a {}
.mainMenu li {
	display: inline-block;
}
.mainMenu li a {}
#contentsArea {
	background-color:#777;
	height:590px;
	padding-top:25px;
	padding-bottom:25px;
}
#contentsArea section {
	background-color:#ddd;
	height:250px;
	margin-top:30px;
	line-height:50px;
	text-align:center;
}
#contentsArea section div {
	width:1320px;
	height:200px;
	margin:0 auto;
}
#contentsArea section div article {
	width:640px;
	height:180px;
	background-color:#fff;
	margin-right:10px;
	margin-left:10px;
	line-height:180px;
	text-align:center;
	float:left;
}
#footer {
	height:125px;
	background-color:#000;
}
#footer:after {
	content:"";
	clear:both;
	display:block;
}
#footerInner {
	width:1300px;
	height:100px;
	margin:0 auto;
	background-color:blue;
	padding-top:25px;
}
#footerInner .logo {
	float:left;
	color:#fff;
}
footer ul {
	text-align:left;
}
.guide li {
	text-align: center;
	display: inline-block;
}
.guide li a {
	color:#fff;
}
#footerInner address {
	color:#fff;
}
#footerInner address span {
	display: inline-block;
	width:55px;
	text-align:left;
}
.copyright {
	font-size:5px;
	display: inline-block;
}