* {
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
#wrapper {
	height:700px;
	background-color:#000;
}
body > #wrapper > #inner {
	width:1300px;
	height:700px;
	margin:0 auto;
	position:relative;
}
body > #wrapper > #inner > iframe:first-child {
	border:none;
	width:1300px;
	height:700px;
	display:block;
}
body > #wrapper > #inner > nav {
	position:absolute;
	left:20px;
	top:50px;
}
body > #wrapper > #inner > nav > .menu {
	width:100px;
	height:200px;
	text-align:center;
	border-bottom:1px solid #fff;
}
body > #wrapper > #inner > nav > .menu > li {
	height:50px;
	border-top:1px solid #fff;
}
body > #wrapper > #inner > nav > .menu > li > a {
	color:#fff;
	line-height:50px;
}
body > #wrapper > #inner > #textBox {
	position:absolute;
	right:0;
	top:0;
	width:350px;
	height:700px;
	background-color:rgba(0,0,0,0.4);
}
body > #wrapper > #inner > #textBox {
	color:#fff;
}
body > #wrapper > #inner > #textBox > #headBox {
	width:310px;
	height:100px;
	margin:50px 20px;
}
body > #wrapper > #inner > #textBox > #headBox > p {
	font-size:30px;
}
body > #wrapper > #inner > #textBox > #contentsBox {
	width:310px;
	height:300px;
}
body > #wrapper > #inner > #textBox > #contentsBox > .contents {
	margin:30px 20px;
}
body > #wrapper > #inner > #textBox > #contentsBox > .contents > p{
	font-size:8px;
}
body > #wrapper > #inner > #textBox > a > #clickButton {
	color:#fff;
	width:310px;
	height:50px;
	margin:0 auto;
	line-height:50px;
	text-align:center;
	background-color:rgba(255,0,0,0.6)
}